<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/services/" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li>
    <li><a href="{{site.baseurl}}/denver-sprinkler-faq/" class="{% if page.url contains 'faq' %}current{% endif %}">FAQ</a></li>
    <li><a href="{{site.baseurl}}/denver-sprinkler-maintenance-guide/" class="{% if page.url contains 'maintenance-guide' %}current{% endif %}">Maintenance Guide</a></li>
    <li><a href="{{site.baseurl}}/emergency-sprinkler-leak-repair/" class="{% if page.url contains 'emergency' %}current{% endif %}">Emergency Repair</a></li>
    <li><a href="{{site.baseurl}}/high-water-bill-sprinkler-leak/" class="{% if page.url contains 'high-water-bill' %}current{% endif %}">High Water Bill</a></li>
    <li><a href="{{site.baseurl}}/service-policies/" class="{% if page.url contains 'service-policies' %}current{% endif %}">Service Policies</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>
