.strip {
  margin-top: 50px;
  background: white;
}
.strip-white {
  background: white;
}
.strip-diagonal {
  transform: skewY(2deg);
  padding-bottom: 30px;
  margin-bottom: 40px;
  > div {
    transform: skewY(-2deg);
  }
}
